<connectionStrings>
  <add name="database"
       providerName="System.Data.SqlClient"
       connectionString="Data Source=cvdb3,1444;Initial Catalog=Aspit.StudentRegDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
</connectionStrings>
